includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 7
    paths:
      - lib
      - tests
    ignoreErrors:
      - "#ClassMetadataFactory::setMetadataFor\\(\\) has no return typehint specified#"
      - "#ClassMetadataFactory::setMetadataFor\\(\\) should be contravariant with parameter \\$class#"
      - "#ClassMetadataInstantiator::instantiate\\(\\) should be contravariant with parameter \\$className#"
      - "#ObjectManager::merge\\(\\) should be compatible with return type \\(object\\) of method Doctrine\\\\Persistence\\\\ObjectManager::merge\\(\\)#"
      - "#Property Doctrine\\\\SkeletonMapper\\\\Tests\\\\Functional\\\\BaseImplementationTest::\\$users#"
      - "#\\(Doctrine\\\\Common\\\\Collections\\\\ArrayCollection<int, array<string, string>>\\) does not accept Doctrine\\\\Common\\\\Collections\\\\ArrayCollection<int, array<string, string>>#"
