<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         verbose="true"
         beStrictAboutOutputDuringTests="true"
>
    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">./lib</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="Doctrine SkeletonMapper Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
